@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}
body{
  height: 30000px;
}


 
::-webkit-scrollbar {
  width: 10px;  
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #0d1224;  
}

::-webkit-scrollbar-thumb {
  background-color: #ab00ea; 
 
  border: 2px solid #0d1224;  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #440098;  
}
